<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Mega Desk</h1>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            &copy; @DateTime.Now.Year Mega Desk
        </div>
    </div>
</body>
</html>