@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Delete a Quote";

    var name = "";
    var total = "";
    var quoteId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["Id"].IsEmpty() && Request.QueryString["Id"].IsInt())
        {
            quoteId = Request.QueryString["Id"];
            var db = Database.Open("QuoteDatabase");
            var dbCommand = "SELECT * FROM QuoteTable WHERE Id = @0";
            var row = db.QuerySingle(dbCommand, quoteId);
            if (row != null)
            {
                name = row.Text;
                total = row.Total;
            }
            else
            {
                Validation.AddFormError("No quote was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No quote was found for that ID.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        quoteId = Request.Form["quoteId"];
        var db = Database.Open("QuoteDatabase");
        var deleteCommand = "DELETE FROM QuoteTable WHERE Id = @0";
        db.Execute(deleteCommand, quoteId);
        Response.Redirect("~/Home");
    }
}

<h2>Delete a Quote</h2>
@Html.ValidationSummary()
<p><a href="~/Home">Return to Quotes</a></p>

<form method="post">
    <fieldset>
        <legend>Quote Information</legend>

        <p>
            <span>Name:</span>
            <span>@name</span>
        </p>

        <p>
            <span>Total:</span>
            <span>@total</span>
        </p>

        <input type="hidden" name="quoteId" value="@quoteId" />
        <p><input type="submit" name="buttonDelete" value="Delete Quote" /></p>
    </fieldset>
</form>
