@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "List Quotes";

    var db = Database.Open("QuoteDatabase");
    var selectCommand = "SELECT * FROM QuoteTable";
    var searchTerm = "";

    if (!Request.QueryString["searchName"].IsEmpty())
    {
        selectCommand = "SELECT * FROM QuoteTable WHERE CustomerName LIKE @0";
        searchTerm = "%" + Request["searchName"] + "%";
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Date", rowsPerPage: 5);
}

<h2>List Quotes</h2>
<form method="get">
    <div>
        <label for="searchName">Search by Customer Name:</label>
        <input type="text" name="searchName" value="@Request.QueryString["searchName"]" />
        <input type="Submit" value="Search By Name" /><br />
    </div>
</form>
<div>
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column(format: @<a href="~/EditQuote?id=@item.Id">Edit</a>),
            grid.Column("Date"),
            grid.Column("CustomerName"),
            grid.Column("Depth"),
            grid.Column("Width"),
            grid.Column("DrawerCount"),
            grid.Column("Material"),
            grid.Column("RushDays"),
            grid.Column("Total"),
            grid.Column(format: @<a href="~/DeleteQuote?id=@item.Id">Delete</a>)
        )
    )
</div>
<p>
    <a href="~/AddQuote">Add a Quote</a>
</p>